services:
  caddy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: caddy
    restart: unless-stopped
    networks:
      - athena
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - /opt/athena/caddy/config:/config/caddy
      - /opt/athena/caddy/data:/data/caddy
      - ./conf:/etc/caddy
    env_file:
      - .env

networks:
  athena:
    external: true