{
  order authenticate before respond
  order authorize before authenticate

  security {
    oauth identity provider generic {
      realm generic
      driver generic

      client_id {$CLIENT_ID}
      client_secret {$CLIENT_SECRET}
      scopes openid email profile offline_access

      base_auth_url https://auth.abhithube.com
      metadata_url http://pocket-id:1411/.well-known/openid-configuration

      delay_start 5
      retry_attempts 3
      retry_interval 10
    }

    authentication portal myportal {
      crypto default token lifetime 900
      cookie lifetime 604800

			enable identity provider generic

      cookie domain abhithube.com
			cookie insecure off

      transform user {
        match origin generic

        action add role user
      }
    }

    authorization policy mypolicy {
      set auth url /caddy-security/oauth2/generic

      allow roles user

      inject headers with claims
    }
  }
}

(sso_auth) {
  @auth {
    path /caddy-security/*
  }

  route @auth {
    authenticate with myportal
  }

  route /* {
    authorize with mypolicy
  }
}

abhithube.com {
  redir https://dashboard.abhithube.com permanent
}

ai.abhithube.com {
	reverse_proxy open-webui:8080
}

auth.abhithube.com {  
	reverse_proxy pocket-id:1411
}

dashboard.abhithube.com {
	import sso_auth

	reverse_proxy glance:8080
}

status.abhithube.com {
	reverse_proxy beszel:8090
}